.main {
  background-color: #f2f7ff;
  padding-top: 120px;
  padding: 120px 20%;
  display: flex;
  padding-right: 4em;
}
.filters {
  width: 20%;
}
.resultcards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.barrier {
  width: 40%;
  margin: 2em 0px;
  height: 4px;
  background-color: #188cff;
}
