.Card {
  text-align: center;
  background-color: #f2f7ff;
  color: black;
  height: 8em;
  border-radius: 1em;
  border-top-left-radius: 0.2em;
  padding: 1em;
  width: 8em;
  display: inline-block;
  margin: 1em;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.Card img {
  margin: 0% auto;
  max-height: 50%;
  margin-bottom: 10%;
}
.Card:hover {
  transform: translateY(-4px);
  box-shadow: 1px 2px 2px #0009;
}
.text {
}
.text p {
  font-size: 0.85em;
  align-items: center;
  margin: 0px;
  text-align: center;
}
