.main {
  background-color: #188cff;
  width: 100%;
  height: 100%;
  padding-top: 120px;
}
.inner {
  box-shadow: 0px 0px 2px #cccc;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: #f2f7ff;
  width: 50%;
  margin: auto;
}
.innerLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.innerLeft button {
  margin: 2em;
}
.Form {
  padding: 5% 10%;
}
.button {
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  background-color: #ff4671 !important;
  border: none !important;
  outline: 0 !important;
  margin: 1em;
  transition: all 0.2s ease-out;
  color: #f2f7ff !important;
}
.button:hover,
.button:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 0.5em #000000a0;
  outline: 0 !important;
  border: none !important;
  transition: all 0.2s ease-out;
}
.buttonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nameForm {
  display: flex;
  justify-content: center;
}
.nameForm div {
  margin: 2%;
}
