.main {
  background-color: #f2f7ff;
  border-radius: 1em;
  display: inline-block;
  width: 10em;
  height: 12em;
  cursor: pointer;
  text-align: center;
  border-radius: 0px 0px 1em #cccc;
  margin: 1.5em;
  vertical-align: middle;
  padding: 1em;
}
.image {
  width: 50%;
  align-self: center;
  vertical-align: center;
}
.imgdiv {
  height: 60%;
  display: flex;
  justify-content: center;
}
.main:hover {
  border-radius: 0px 0px 2em #aaaf;
}
