.fourthJTron {
  text-align: center;
  color: #124f7d;
  padding-left: 10em !important;
  padding-right: 10em !important;
  background-color: #f2f7ff !important;
  margin-bottom: 0px !important;
}
.EaseOfAccess {
  margin-top: 5em;
  display: flex;
}
