.main {
  color: #124f7d;
  background-color: #66ffe0 !important;
  width: 100%;
  padding: 120px 15% !important;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px !important;
}
.button {
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  background-color: rgb(255, 69, 112) !important;
  border: none !important;
  outline: 0 !important;
  margin-top: 2em;
  transition: all 0.2s ease-out;
}
.button:hover,
.button:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 0.5em #000000a0;
  outline: 0 !important;
  border: none !important;
  transition: all 0.2s ease-out;
}
.innerLeft {
  width: 60%;
}
.innerRight {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
