.firstJTron {
  background-color: #188cff !important;
  margin: 0px auto !important;
  padding-top: 160px !important;
}
.fJTIinnerContainer {
  display: block;
  margin-left: 6% !important;
  margin-bottom: 2% !important;
}
.fJTIinnerContainer h1 {
  color: #124f7d;
  margin: auto;
}
.fJTIText {
  margin: auto;
  margin-top: 1.5em;
  color: #1c1c1c;
}
.gplans {
  font-size: 0.8em;
  margin-top: 1em;
  color: #f2f7ff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.gplans:hover {
  color: #f2f7ff90;
  text-decoration: underline;
}
.insuranceCards {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  max-width: 50%;
}
@media (max-device-width: 699px) {
  .people {
    display: none;
  }
  .fJTIPeople {
    display: contents;
  }
}
