.firstJTron {
  background-color: #66ffe0 !important;
  margin: 0px auto !important;
}
.fJTIinnerContainer {
  max-width: fit-content !important;
  display: block;
}
.fJTIinnerContainer h1 {
  color: #124f7d;
  margin: auto;
}
.fJTIText {
  margin: auto;
  margin-top: 1.5em;
  color: #48767d;
  text-align: center;
}
.fJTIPeople {
  max-width: fit-content !important;
  margin: auto;
  margin-top: 1.5em;
  display: flex;
}
.gplans {
  font-size: 0.8em;
  margin-top: 1em;
  text-align: center;
  color: #1e95fd;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.gplans:hover {
  color: #0075dd;
  text-decoration: underline;
}

.secondJTron {
  text-align: center;
  color: #124f7d;
}
