.fifthJTron {
  color: #124f7d;
  text-align: center;
  background-color: #f2f7ff;
  padding: 20px;
  padding-bottom: 60px;
  margin: 0px !important;
}
.reviewInfo {
  margin: 2em;
  display: flex;
  justify-content: center;
}
.reviews {
  cursor: pointer;
  color: #1898fe;
  transition: all 0.2s ease-out;
}
.reviews:hover {
  color: #23527c;
  text-decoration: underline;
  transition: all 0.2s ease-out;
}
.reviewCards {
  display: inline-flex;
}
