.maindiv {
  max-width: 18em;
  display: inline-flex !important;
  text-align: justify;
  margin: 15px;
  vertical-align: middle;
}
.imagediv {
  width: 5em;
  height: 5em;
  margin: 20px;
  position: relative;
  vertical-align: middle;
}
.image {
  position: absolute;
  top: 25%;
  transform: translateY(25%);
  background-color: #c9f6ff;
  border: 10px #c9f6ff;
  border-radius: 30%;
  border-spacing: 10px;
}
.imagediv_notitle {
  height: auto !important;
  margin: 0px !important;
}
.image_notitle {
  top: 0% !important;
}
