.maindiv {
  color: #1c1c1c;
  display: inline-flex;
  max-width: 30em;
  margin: 3em;
  background-color: #188cff !important;
  justify-content: space-between;
  text-align: justify;
}
.infoDiv {
  display: flex;
}
.learnMore {
  color: #1c1c1c;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.learnMore:hover {
  color: #1c1c1c90;
  text-decoration: underline;
  transition: all 0.2s ease-out;
}
.SeePlansButton {
  background-color: #ff4671 !important;
  outline: 0 !important;
  border: none !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  transition: all 0.2s ease-out;
}
.SeePlansButton:hover {
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}
