.main {
  width: 100%;
  color: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.bubble {
  margin: 1em;
  padding: 1em;
  width: auto;
  background-color: #188cff;
  border-radius: 1.5em;
  border-top-right-radius: 0px;
  box-shadow: 0px 0px 1em #ccc;
  align-self: flex-end;
}
